
.modelContainer {
    .ant-modal-header{
        background-color: #1c77bb;
        
        border-top-left-radius: 5px !important;
        border-top-right-radius: 5px !important;
        padding: 10px 24px;
        text-align: center;
    }
    .ant-modal-title{
        color: #fff;
        font-weight: 500;
        font-size: 18px;
        padding: 5px;
    }
    .ant-modal-content {
        border-radius: 5px !important;
    }
    .ant-modal-close-x{
        width: 42px;
        height: 42px;
        line-height: 40px;
    }
    .ant-modal-close-icon{
        padding: 2px;
        background-color: #F94144;
        border-radius: 15px;
        font-size: 9px;
    }
    // svg{
    //     font-size: 1rem;
    //     fill:#fff;
    // }
}
